.navbar{
    height: 100%;
    overflow-y: auto;
    background-color: #00396f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.navbar .master,.navbar .image{
 display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.iconBackground {
  background-color: white;
}
.navbar .master img, .navbar .image img{
    width: 40px;
    height: 40px;
    
    object-fit: contain;
}
.navbar .master a , .navbar .image a{

    padding: 1rem;

}

.navbar .image img{

    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}

.navbar .master a.selected, .navbar .image a.selected{
    background-color: #fff;

}